<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Descry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="../static/images/Spotify_favicon.png" type="image/x-icon">
</head>

<body class="{{ background_class }}">
    <div class="topbar">
        <div class="logo">
            <a href="https://spotify-descry.onrender.com">
                <img src="../static/images/Spotify Logo.png" alt="Logo">
            </a>
        </div>
        <div class="navbar">
            <ul>
                <li>
                    <a href="https://spotify-descry.onrender.com/recomendation" id="recommended-link">
                        <span class="fa fa-home"></span>
                        <span>Recommended Songs</span>
                    </a>
                </li>
                <li>
                    <a href="https://spotify-descry.onrender.com/ai">
                        <span class="fa fa-search"></span>
                        <span>AI Explorer</span>
                    </a>
                </li>
            </ul>
            <button id="loginButton">Login</button>
            <script src="{{ url_for('static', filename='script.js') }}"></script>
        </div>
    </div>
    <div class="main-container">
        <div class="spotify-playlists">
            <h2>Spotify Descry</h2>
        </div>
        <div class="preview" id="preview">
            <div class="text">
                <h6>Preview of Spotify</h6>
                <p>Sign up to get unlimited songs and podcasts with occasional ads. No credit card needed.</p>
            </div>
            <div class="button">
                <a href="https://www.spotify.com/pl/signup?forward_url=https%3A%2F%2Fopen.spotify.com%2F"
                    target="_blank">
                    <button type="button">Sign up free</button>
                </a>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/ef9a692198.js" crossorigin="anonymous"></script>
</body>

</html>
